// Include custom variables for website or app here

// Custom variables

$font-light: 300;
$font-bold: 800;




// Include specific styles for website or app here


//General

body {
	background-color: #FAFAFA;
}


//Top bar

.acklen-logo {
	padding: 1rem .25rem;
	height: 100%;
	max-height: 60px;
}

.top-bar {
	align-content: center;
	.tab__item {
		@include breakpoint(medium) {
			margin: 0 .5rem;
		}
		&:last-child {
			flex-grow: 2;
			align-items: flex-end;
		}
	}
	
}

.container--welcome {
	padding-top: 20vh;
	margin-bottom: 2rem;
	padding-right: 400px;
	min-height: 400px;
	background-image: url("../img/acklen-pen.svg");
	background-repeat: no-repeat;
	background-position: 90% bottom;
	background-size: auto 80%;
}


//Brand Assets

.brand-assets__header{
	margin: $global-margin auto;
	.acklen-logo {
		max-height: inherit;
		height: 80px;
		margin-top: $global-margin;
	}
}

.brand-assets__content {
	@extend .brand-assets__header;
	header {
		margin: 2rem 0;
	}
}

.branding-assets__item {
	padding: 40px 0;
	img {
		width: 100%;
		background-color: $white;
		border: 1px solid $light-gray;
		padding: 20px;
		margin-bottom: 20px;
	}
	img.bg-secondary {
		background-color: $secondary-color;
	}
	.button {
		margin-top: $global-margin;
	}
}


.divider {
	display: block;
	height: 2px;
	background: $light-gray;
	margin: 1rem auto;
	width: 100%;
	border: none;
}

.divider--secondary {
	@extend .divider;
	height: 1px;
	opacity: .5;
}