// Include custom variables for website or app here

// Custom variables

$font-light: 300;
$font-bold: 800;




// Include specific styles for website or app here


//General

body {
	background-color: #FAFAFA;
}


//Top bar

.acklen-logo {
	max-height: 80px;
}

.top-bar {
	.row {
		align-items: center;
		justify-content: space-between;
	}
	.tabs {
		justify-content: center;
		@include breakpoint(large) {
			justify-content: flex-end;
		}
	}
	.tab__item {
		@include breakpoint(medium) {
			padding: .25rem 1.5rem;
			margin: 0 1.25rem;
		}
	}
	
}

.container--welcome {
	padding-top: 20vh;
	margin-bottom: 2rem;
	padding-right: 400px;
	min-height: 400px;
	background-image: url("../img/acklen-pen.svg");
	background-repeat: no-repeat;
	background-position: 90% bottom;
	background-size: auto 80%;
}

.branding-assets__item {
	padding: 40px;
	img {
		background-color: $white;
		border: 1px solid $light-gray;
		padding: 20px;
		margin-bottom: 20px;
	}
	img.bg-grey {
		background-color: $light-gray;
	}
}

.container {
	@include breakpoint(medium) {
		height: calc(100vh - 80px);
		overflow: auto;
	}
}

.padding-b-2 {
	padding-bottom: 2rem;
}

.padding-b-4 {
	padding-bottom: 4rem;
}

.divider {
	display: block;
	height: 2px;
	background: $light-gray;
	margin: 1rem auto;
	width: 100%;
	border: none;
}

.divider--secondary {
	@extend .divider;
	height: 1px;
	opacity: .5;
}