@import "hu-variables"

body .hu-wrap {
  background-color: white;
  font-family: "Oswald";
} 
h1, h5{
  font-family: "Oswald";
}
h5{
  color:white;
}

.grid-fullwidth{
  max-width: 100%;
  margin: 0 ;
  padding: 2rem;
}
.section-header{
padding: 2rem;
text-align: center;
}
.herounit-logo{
padding: 1rem;
max-height: 220px;
max-width: 650px; 
align-content: center;
}
.section-navbar{
padding: .5rem;
justify-content: center;
}

.btn-nav{
font-size: 1.5rem;
padding: .5rem;
height: 48px; 
width: 150px; 
color: $hu-primary-color;
&:hover{ color:$hu-secondary-color;}
}  

.sections-herounit{
margin: 40px;
padding-top: 2rem;
padding-right: 4rem;
padding-bottom: 2rem;
padding-left: 4rem;
text-align:left;
color: #323232;
}

.button-download{
max-width: 200px;
margin-top: 20px;
color: $hu-primary-color;
background-color: white;
border-color: $hu-primary-color;
&:hover{ background-color:$hu-primary-light; border-color: white;}
&:focus{color: $hu-primary-color; background: white; box-shadow: 0 0 0  #ffffff; border-color: $hu-primary-color;}
}
a {
  color: $hu-primary-color;
  &:hover{color:$hu-primary-light;}
  &:focus{color:$hu-secondary-light;}
}
.divider--secondary{
  margin: 2rem auto 2rem;
}

.section-logos {
padding: .5rem;
justify-content: center;
}

.logo-cell, .logo-img {
max-width: 350px;  
padding: 1rem; 
text-align: center;
}

.logo-white{
padding: 1rem;
background-color: #000;
}

.hu-button-colorprimary,.hu-button-colorprimarylight {
max-width: 200px;
margin-top: 20px;
color: #ffffff;
background-color:transparent;
border-color: #ffffff;
&:hover{background-color:white; border-color: white; color: $hu-primary-color;} 
&:focus{background: white; box-shadow: 0 0 0  #ffffff;}
}
.hu-button-colorsecondary, .hu-button-colorsecondarylight {
max-width: 200px;
margin-top: 20px;
color: #ffffff;
background-color:transparent;
border-color: #ffffff;
&:hover{background-color:white; border-color: white; color: $hu-primary-light;} 
&:focus{background: $hu-secondary-light; box-shadow: 0 0 0  #ffffff;}
}
.hu-section-colorprimary, .section-colorsecondary{
padding: 1rem;
justify-content: center;
text-align: left;
}

.hu-colorprimary1 {
height: 150px;
max-width: 20rem;
margin: 5px;
padding: 1rem;
background-color: $hu-primary-color;
color: #ffffff;
}
.hu-colorprimary2 {
height: 150px;
max-width: 20rem;
margin: 5px;
padding:1rem;
background-color: #DE5539;
}

.hu-colorprimarylight{
height: 150px;
max-width: 20rem;
margin: 5px;
padding:1rem;
background-color: #1B75BB;
}
.hu-colorsecondarylight{
height: 150px;
max-width: 20rem;
margin: 5px;
padding:1rem;
background-color: #F1BC79;
}