// Include specitif styles for website or app here

// 0. Theme
// ---------

// 0.1 Color Palette

$color-primary: #72C02C;
$color-secondary: #4F4959;
$color-success: #3adb76;
$color-warning: #ffae00;
$color-alert: #D45E5E;
$color-light-gray: #e6e6e6;
$color-medium-gray: #cacaca;
$color-dark-gray: #8a8a8a;
$color-black: #4F4F4F;
$color-white: #fefefe;
$color-background: $color-white;
$color-font: $color-black;


// 0.2 Font

$font-family: 'Montserrat', Helvetica, Roboto, Arial, sans-serif;
$font-light: 300;
$font-bold: 800;
