doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Acklen Design System
		link(rel='stylesheet', href='css/app.css')
	body
		.row
			nav.top-bar.large-12.columns(role="navigation")
				.row
					a.small-6.medium-3.columns(href="index.html")
						img.acklen-logo(src="img/acklen-design.svg")
					ul.tabs.small-12.medium-6.medium-offset-3.columns
						li.tab__item.selected
							a(href="branding.html") Branding
						li.tab__item
							a(href="documentation.html") Documentation
						li.tab__item
							a(href="resources.html") Resources
		.row
			.sidebar.columns.small-12.medium-4.large-3
			
				ul.tabs--vertical
					li.tab__item.selected
						a(href="#") Branding Assets
					li.tab__item
						a(href="#") Guidelines
					li.tab__item
						a(href="#") Legal
			.container.columns.small-12.medium-8.large-9
				.row: .columns
					h1 Branding Assets
					p Hello Ackleners! Here you can find and download our brand resources which you can use wisely whenever you want. You will find all the assets individually and well explained or, download all the assets folder.
					a(class="button" href="resources/Branding-Assets.zip") Download branding assets
				.row: .columns
					h2 The Logo
					p You can use the Acklen Avenue Logo in 4 versions
					
					.row 
						.columns.small-12.medium-6
							figure.branding-assets__item
								img(src="resources/Branding/AA-Logo/Vector/AA-Logo-AppleGreen.svg")
								figcaption Apple Green Version in 
									a(href="resources/Branding/AA-Logo/Vector/AA-Logo-AppleGreen.svg" download) SVG 
									| or 
									a(href="resources/Branding/AA-Logo/PNG/AA-Logo-AppleGreen-regular.png" download) PNG
						.columns.small-12.medium-6
							figure.branding-assets__item
								img(src="resources/Branding/AA-Logo/Vector/AA-Logo-SlatePurple.svg")
								figcaption Slate Purple Version in 
									a(href="resources/Branding/AA-Logo/Vector/AA-Logo-Slatepurple.svg" download) SVG 
									| or 
									a(href="resources/Branding/AA-Logo/PNG/AA-Logo-SlatePurple-regular.png" download) PNG
						.columns.small-12.medium-6
							figure.branding-assets__item
								img(src="resources/Branding/AA-Logo/Vector/AA-Logo-PaleGrey.svg")
								figcaption Pale Grey Version in 
									a(href="resources/Branding/AA-Logo/Vector/AA-Logo-PaleGrey.svg" download) SVG 
									| or 
									a(href="resources/Branding/AA-Logo/PNG/AA-Logo-PaleGrey-regular.png" download) PNG
						.columns.small-12.medium-6
							figure.branding-assets__item
								img(class="bg-grey" src="resources/Branding/AA-Logo/Vector/AA-Logo-White.svg")
								figcaption White Version in 
									a(href="resources/Branding/AA-Logo/Vector/AA-Logo-White.svg" download) SVG 
									| or 
									a(href="resources/Branding/AA-Logo/PNG/AA-Logo-White-regular.png" download) PNG
					
					.row: .columns
					h2 Acklen Heart
					p The Acklen Heart is a symbolic element. We avoid using it inside at the same time of our logo. Think on it as a decorative element.
					
					.row 
						.columns.large-6
							figure.branding-assets__item
								img(src="resources/Branding/Acklen-Heart/Vector/acklen-heart.svg")
								figcaption Download our Acklen Heart in 
									a(href="resources/Branding/Acklen-Heart/Vector/acklen-heart.svg" download) SVG 
									| or 
									a(href="resources/Branding/Acklen-Heart/PNG/acklen-heart-no-bg.png" download) PNG
		.row
			footer.large-12.columns
				p.center All rights reserved 2018
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='../bower_components/what-input/dist/what-input.js')
		script(src='../bower_components/foundation-sites/dist/js/foundation.js')
		script(src='../js/app.js')