doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Acklen Design System
		link(rel='stylesheet', href='css/app.css')
	body
		.row
			nav.top-bar.large-12.columns(role="navigation")
				.row
					a.small-6.medium-3.columns(href="index.html")
						img.acklen-logo(src="img/acklen-design.svg")
					ul.tabs.small-12.medium-6.medium-offset-3.columns
						li.tab__item.selected
							a(href="branding.html") Branding
						li.tab__item
							a(href="documentation.html") Documentation
						li.tab__item
							a(href="resources.html") Resources
		.row
			.sidebar.columns.small-12.medium-4.large-3
			
				ul.tabs--vertical
					li.tab__item.selected
						a(href="#branding-assets") Branding Assets
					li.tab__item
						a(href="#branding-guidelines") Guidelines
					li.tab__item
						a(href="#legal") Legal
			.container.columns.small-12.medium-8.large-9
				.row#branding-assets.padding-b-2: .columns
					h1 Branding Assets
					p: strong Hello Ackleners! 
					p We want to improve your use of our brand. Which is why we provide these Acklen Avenue branding resources. Use them wisely whenever you need them. You will find each asset individually in this section or go ahead and download the entire assets folder by clicking here:
					a(class="button" href="resources/Branding-assets.zip") Download branding assets
				
				hr(class="divider--secondary" aria-label="hidden")
				
				.row: .columns
					h2 The Logo
					p Use the Acklen Avenue Logo in 4 color versions:
					p: small If you want to know more about the correct use of the logo go to our 
						a(href="#branding-guidelines") Branding Guidelines
					
					.row.padding-b-2
						.columns.small-12.medium-6
							figure.branding-assets__item
								img(src="resources/Branding/AA-Logo/Vector/AA-Logo-AppleGreen.svg")
								figcaption Apple Green Version in 
									a(href="resources/Branding/AA-Logo/Vector/AA-Logo-AppleGreen.svg" download) SVG 
									| or 
									a(href="resources/Branding/AA-Logo/PNG/AA-Logo-AppleGreen-regular.png" download) PNG
						.columns.small-12.medium-6
							figure.branding-assets__item
								img(src="resources/Branding/AA-Logo/Vector/AA-Logo-SlatePurple.svg")
								figcaption Slate Purple Version in 
									a(href="resources/Branding/AA-Logo/Vector/AA-Logo-Slatepurple.svg" download) SVG 
									| or 
									a(href="resources/Branding/AA-Logo/PNG/AA-Logo-SlatePurple-regular.png" download) PNG
						.columns.small-12.medium-6
							figure.branding-assets__item
								img(class="bg-secondary" src="resources/Branding/AA-Logo/Vector/AA-Logo-PaleGrey.svg")
								figcaption Pale Grey Version in 
									a(href="resources/Branding/AA-Logo/Vector/AA-Logo-PaleGrey.svg" download) SVG 
									| or 
									a(href="resources/Branding/AA-Logo/PNG/AA-Logo-PaleGrey-regular.png" download) PNG
						.columns.small-12.medium-6
							figure.branding-assets__item
								img(class="bg-secondary" src="resources/Branding/AA-Logo/Vector/AA-Logo-White.svg")
								figcaption White Version in 
									a(href="resources/Branding/AA-Logo/Vector/AA-Logo-White.svg" download) SVG 
									| or 
									a(href="resources/Branding/AA-Logo/PNG/AA-Logo-White-regular.png" download) PNG
				
				hr(class="divider--secondary" aria-label="hidden")
				
				.row: .columns
					h2 Acklen Heart
					p The Acklen Heart is a symbolic element. We avoid using it alongside our logo. Think of it as a decorative element.

					.row.padding-b-2
						.columns.large-6
							figure.branding-assets__item
								img(src="resources/Branding/Acklen-Heart/Vector/acklen-heart.svg")
								figcaption Download our Acklen Heart in 
									a(href="resources/Branding/Acklen-Heart/Vector/acklen-heart.svg" download) SVG 
									| or 
									a(href="resources/Branding/Acklen-Heart/PNG/acklen-heart-no-bg.png" download) PNG
				
				hr(class="divider--secondary" aria-label="hidden")
				
				.row.padding-b-4: .columns
					h2 Acklen Presentation
					p Feel free to use our Slides Template to work related situations like meetings, showcase or presentations.
					a(class="button" href="https://docs.google.com/presentation/d/1_Tzeqa8re-dAiXNrHTWZQzqCkPUhInaiKlGTjHnaMz4/edit?usp=sharing" target="_blank") Slides Template
				
				hr(class="divider" aria-label="hidden")
				
				.row#branding-guidelines.padding-b-4: .columns
					h1 Branding Guidelines
					p Here are the Branding guidelines...
				
				hr(class="divider" aria-label="hidden")
				
				.row#legal.padding-b-4: .columns
					h1 Legal
					p Legal information and related information...

		.row
			footer.large-12.columns
				p.center All rights reserved 2018
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='../bower_components/what-input/dist/what-input.js')
		script(src='../bower_components/foundation-sites/dist/js/foundation.js')
		script(src='../js/app.js')