doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Acklen Design System
		link(rel='stylesheet', href='css/app.css')
	body
		.row
			nav.top-bar.large-12.columns(role="navigation")
				.row
					a.large-3.columns(href="index.html")
						img.acklen-logo(src="img/acklen-design.svg")
					ul.tabs.right.large-6.large-offset-3.columns
						li.tab__item
							a(href="branding.html") Branding
						li.tab__item.selected
							a(href="components.html") Components
						li.tab__item
							a(href="resources.html") Resources
		.row
			.sidebar.large-3.columns
				ul.tabs--vertical
					li.tab__item.tab__item--parent
						a(href="") Layout
						ul.tabs--vertical.tabs--submenu
							li.tab__item
								a(href="") Grid
							li.tab__item
								a(href="") Containers
					li.tab__item.tab__item--parent
						a(href="") Theme
						ul.tabs--vertical.tabs--submenu
							li.tab__item
								a(href="") Color Palette
							li.tab__item
								a(href="") Font Family
					li.tab__item.selected.tab__item--parent
						a(href="") Components
						ul.tabs--vertical.tabs--submenu
							li.tab__item.selected
								a(href="") Buttons
							li.tab__item
								a(href="") Forms
					li.tab__item.tab__item--parent
						a(href="") Utilities
			.container.columns.large-9
				h1 Components
				p Components goes here...
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='../bower_components/what-input/dist/what-input.js')
		script(src='../bower_components/foundation-sites/dist/js/foundation.js')
		script(src='../js/app.js')