doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Acklen Design System
		link(rel='stylesheet', href='css/app.css')
	body
		header.top-bar.grid-x.grid-padding-x(role="navigation")
			a.cell.shrink(href="index.html")
				img.acklen-logo(src="img/AA-Logo-SlatePurple.svg")
			nav.cell.auto: ul.tabs
				li.tab__item
					a(href="getting-started.html") Getting Started
				li.tab__item
					a(href="grid.html") Grid
				li.tab__item
					a(href="theme.html") Theme
				li.tab__item.current
					a(href="components.html") Components
				li.tab__item
					a(href="resources.html") Resources
			a.cell.shrink.button(href="brand-assets.html") Brand Assets
		
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='../bower_components/what-input/dist/what-input.js')
		script(src='../bower_components/foundation-sites/dist/js/foundation.js')
		script(src='../js/app.js')