doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Acklen Avenue - Brand Assets
		link(rel="icon" href="img/favicon.ico" type="image/x-icon")
		link(rel='stylesheet', href='css/app.css')
	body
		
		.grid-container.brand-assets.grid-y
			header.brand-assets__header.top-bar.cell.shrink(role="navigation")
				img.acklen-logo(src="img/AA-Logo-SlatePurple.svg")
			
			#brand-assets.brand-assets__content.cell.small-12.medium-10.large-8
				
				hr(class="divider--secondary" aria-label="hidden")
				
				section.brand__intro
					header
						h3 Brand Assets
					p: strong Hello Ackleners! 
					p We want to improve your use of our brand. Which is why we provide these Acklen Avenue branding resources. Use them wisely whenever you need them. You will find each asset individually in this site or go ahead and download the entire assets folder by clicking here:
					a(class="button" href="resources/AA-Brand-assets.zip") Download brand assets
				
				hr(class="divider--secondary" aria-label="hidden")
				
				.section.brand__logo
					header
						h3 The Logo
					p Use the Acklen Avenue Logo in 4 color versions:
					//p: small If you want to know more about the correct use of the logo go to our 
						a(href="#branding-guidelines") Branding Guidelines
					
					.grid-x.grid-padding-x
						figure.branding-assets__item.cell.small-12.medium-6
							img(src="resources/AA-Brand-assets/AA-Logo/Vector/AA-Logo-AppleGreen.svg")
							figcaption Apple Green Version in 
								a(href="resources/AA-Brand-assets/AA-Logo/Vector/AA-Logo-AppleGreen.svg" download) SVG 
								| or 
								a(href="resources/AA-Brand-assets/AA-Logo/PNG/AA-Logo-AppleGreen-regular.png" download) PNG
						figure.branding-assets__item.cell.small-12.medium-6
							img(src="resources/AA-Brand-assets/AA-Logo/Vector/AA-Logo-SlatePurple.svg")
							figcaption Slate Purple Version in 
								a(href="resources/AA-Brand-assets/AA-Logo/Vector/AA-Logo-Slatepurple.svg" download) SVG 
								| or 
								a(href="resources/AA-Brand-assets/AA-Logo/PNG/AA-Logo-SlatePurple-regular.png" download) PNG
						figure.branding-assets__item.cell.small-12.medium-6
								img(class="bg-secondary" src="resources/AA-Brand-assets/AA-Logo/Vector/AA-Logo-PaleGrey.svg")
								figcaption Pale Grey Version in 
									a(href="resources/AA-Brand-assets/AA-Logo/Vector/AA-Logo-PaleGrey.svg" download) SVG 
									| or 
									a(href="resources/AA-Brand-assets/AA-Logo/PNG/AA-Logo-PaleGrey-regular.png" download) PNG
						figure.branding-assets__item.cell.small-12.medium-6
								img(class="bg-secondary" src="resources/AA-Brand-assets/AA-Logo/Vector/AA-Logo-White.svg")
								figcaption White Version in 
									a(href="resources/AA-Brand-assets/AA-Logo/Vector/AA-Logo-White.svg" download) SVG 
									| or 
									a(href="resources/AA-Brand-assets/AA-Logo/PNG/AA-Logo-White-regular.png" download) PNG
				
				hr(class="divider--secondary" aria-label="hidden")
				
				.section.brand__logo
					header
						h3 Acklen Heart
					p The Acklen Heart is a symbolic element. We avoid using it alongside our logo. Think of it as a decorative element.
					p Use our Acklen Heart in Apple Green or White.

					.grid-x.grid-padding-x
						figure.branding-assets__item.cell.small-12.medium-6
							img(src="resources/AA-Brand-assets/Acklen-Heart/Vector/AA-Heart-AppleGreen.svg")
							figcaption Download our Acklen Heart in 
								a(href="resources/AA-Brand-assets/Acklen-Heart/Vector/AA-Heart-AppleGreen.svg" download) SVG 
								| or 
								a(href="resources/AA-Brand-assets/Acklen-Heart/PNG/AA-Heart-AppleGreen.png" download) PNG
						figure.branding-assets__item.cell.small-12.medium-6
							img(class="bg-secondary" src="resources/AA-Brand-assets/Acklen-Heart/Vector/AA-Heart-White.svg")
							figcaption Download our Acklen Heart in 
								a(href="resources/AA-Brand-assets/Acklen-Heart/Vector/AA-Heart-White.svg" download) SVG 
								| or 
								a(href="resources/AA-Brand-assets/Acklen-Heart/PNG/AA-Heart-White.png" download) PNG
				
				hr(class="divider--secondary" aria-label="hidden")
				
				.section.brand__logo
					header
						h3 Acklen Presentation
					p Feel free to use our Google Slides theme for presentations. It can help you in meetings, showcases or even to present a great idea.
					
					.grid-x
						figure.branding-assets__item.cell.small-12
							img(src="img/img_presentation.jpg" alt="Acklen google slides")
							figcaption 
								p Use this presentation as a theme. 
								p If you don't know how to import a theme on google slides 
									a(href="https://support.google.com/docs/answer/1705254?co=GENIE.Platform%3DDesktop&hl=en" target="_blank") click here.
							a(class="button" href="https://docs.google.com/presentation/d/1_Tzeqa8re-dAiXNrHTWZQzqCkPUhInaiKlGTjHnaMz4/edit?usp=sharing" target="_blank") Slides Template
				
				hr(class="divider" aria-label="hidden")
				
				//.row#branding-guidelines.padding-b-4: .columns
					h1 Branding Guidelines
					p Here are the Branding guidelines...
				
				//hr(class="divider" aria-label="hidden")
				
				//.row#legal.padding-b-4: .columns
					h1 Legal
					p Legal information and related information...

		.row
			footer.large-12.columns
				p.center 2018 © 
					a(href="https://acklenavenue.com/") Acklen Avenue
					| , LLC. All Rights Reserved.
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='../bower_components/what-input/dist/what-input.js')
		script(src='../bower_components/foundation-sites/dist/js/foundation.js')
		script(src='../js/app.js')