doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Acklen Design System
		link(rel='stylesheet', href='css/app.css')
	body
		.row
			nav.top-bar.large-12.columns(role="navigation")
				.row
					a.small-6.medium-3.columns(href="index.html")
						img.acklen-logo(src="img/acklen-design.svg")
					ul.tabs.small-12.medium-6.medium-offset-3.columns
						li.tab__item
							a(href="branding.html") Branding
						li.tab__item
							a(href="documentation.html") Documentation
						li.tab__item.selected
							a(href="resources.html") Resources
		.row
			.sidebar.large-3.columns
				ul.tabs--vertical
					li.tab__item.selected
						a(href="branding.html") Design System Files
					li.tab__item
						a(href="components.html") HTML Templates
			.container.columns.large-9
				h1 Resources
				p Resources goes here...
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='../bower_components/what-input/dist/what-input.js')
		script(src='../bower_components/foundation-sites/dist/js/foundation.js')
		script(src='../js/app.js')