nav.top-bar.large-12.columns(role="navigation")
	.row
		a.large-3.columns(href="index.html")
			img.acklen-logo(src="img/acklen-design.svg")
		ul.tabs.large-6.large-offset-3.columns
			li.tab__item
				a(href="branding.html") Branding
			li.tab__item
				a(href="documentation.html") Documentation
			li.tab__item
				a(href="resources.html") Resources