nav.top-bar.large-12.columns(role="navigation")
	.row
		a.small-6.medium-3.columns(href="index.html")
			img.acklen-logo(src="img/acklen-design.svg")
		ul.tabs.small-12.medium-6.medium-offset-3.columns
			li.tab__item
				a(href="branding.html") Branding
			li.tab__item
				a(href="documentation.html") Documentation
			li.tab__item
				a(href="resources.html") Resources