doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Hero Unit - Branding Assets
		link(rel="icon" href="img/favicon.ico" type="image/x-icon")
		link(rel='stylesheet', href='../css/app.css')
		link(rel='stylesheet', href='../css/main.css')
		link(href="https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap" rel="stylesheet")


	body
		.grid-container.grid-y.grid-fullwidth.hu-wrap
			div(class="section-header" id="SH" )
				div(class= "header-logo")
					img.herounit-logo(src="resources/HU- Brand-assets/HU-Logo/herounit-logofullcolor.svg")
				div(class="grid-x section-navbar")
					div(class="cell medium-auto d-btn")
						a(href="#BrandAssets")
							button(class="clear-button brandabtn" ) Brand Assets
					div(class="cell medium-auto l-btn") 
						a(href="#Logos")
							button(class="clear-button logosbtn") Logos 
					div(class="cell medium-auto c-btn") 
						a(href="#ColorPalette")
							button(class="clear-button cpbtn") Color Palette
			hr(class="divider--secondary" aria-hidden="true")
			div(class="section-brandassets" id="BrandAssets")
				h1 Brand Assets
				p Looking for some Hero assets? You are in the right place, in here you can find the Herounit branding resources. Use them wisely whenever you need them, you will find each asset individually in this site or you can go ahead and download the entire assets folder by clicking here:
				a(class="button button-download" href="	resources/HU- Brand-assets.zip") Download Here	
			hr(class="divider--secondary" aria-hidden="true")
			div(class="grid-x section-logos" id="Logos")
				h1 Logos
				p:strong Looking for the Hero logo? Our logo is the front-face of our brand, here you can find it in its different versions. As PNG (image file) or as SVG (Scalabale vector Graphic) these are available to be downloaded and used as best fits your requirements!
					div(class="grid-x section-logos1")
						div(class="cell-medium-auto logofullcolor ")
							figure.lfc
								img.logo-fullcolor(src="resources/HU- Brand-assets/HU-Logo/herounit-logofullcolor.svg")
							figcaption Full color Version in 	
								a(href="resources/HU- Brand-assets/HU-Logo/herounit-logofullcolor.svg" download) SVG 
								| or 
								a(href="resources/HU- Brand-assets/HU-Logo/herounit-logofullcolor.png" download) PNG
						div(class="cell-medium-auto logoblue")
							figure.lb
								img.logo-blue(src="resources/HU- Brand-assets/HU-Logo/herounit-logofull-blue.svg")
								figcaption Blue-Hero Version in	
									a(href="resources/HU- Brand-assets/HU-Logo/herounit-logofull-blue.svg" download) SVG 
									| or 
									a(href="resources/HU- Brand-assets/HU-Logo/herounit-logofull-blue.png" download) PNG
						div(class="cell-medium-auto logoorange")
							figure.lo
								img.logo-orange(src="resources/HU- Brand-assets/HU-Logo/herounit-logofull-orange.svg")
							figcaption Orange-Hero Version in 
								a(href="resources/HU- Brand-assets/HU-Logo/herounit-logofull-orange.svg" download) SVG 
								| or 
								a(href="resources/HU- Brand-assets/HU-Logo/herounit-logofull-orange.png" download) PNG	
					div(class="grid-x section-logos2")
						div(class="cell-medium-auto blacklogo")
							figure.bl
								img.logo-black(src="resources/HU- Brand-assets/HU-Logo/herounit-logofull-black.svg")
							figcaption Black Version in 
								a(href="resources/HU- Brand-assets/HU-Logo/herounit-logofull-black.svg" download) SVG 
								| or 
								a(href="resources/HU- Brand-assets/HU-Logo/herounit-logofull-black.png" download) PNG
						div(class="cell-medium-auto whitelogo")
							figure.wl
								img.logo-white(src="resources/HU- Brand-assets/HU-Logo/herounit-logofull-white.svg")
							figcaption White Version in	
								a(href="resources/HU- Brand-assets/HU-Logo/herounit-logofull-white.svg" download) SVG 
								| or 
								a(href="resources/HU- Brand-assets/HU-Logo/herounit-logofull-white.png" download) PNG
			hr(class="divider--secondary" aria-hidden="true")
			div(class="grid-x section-colorassets" id="ColorPalette")
				h1 Color Palette
				p:strong Herounit’s color palette stems from the root of it’s visual identity, it’s used to imprint the brand message in the different compositions that require it. These colors down beolow, can be used for printed or web products:
					div(class="grid-x hu-section-colorprimary")
						div(class="cell hu-colorprimary1 ")
							h5 Blue Hero | #1962BA
							button(class="button hu-button-colorprimary" data-clipboard-text="#1962BA") Copy code
						div(class="cell hu-colorprimary2")
							h5 Orange Hero | #DE5539
							button(class="button  hu-button-colorsecondary" data-clipboard-text="#DE5539") Copy code
					div(class="grid-x section-colorsecondary")
						div(class="cell hu-colorprimarylight") 
							h5 Light-Blue Hero | #1B75BB
							button(class="button hu-button-colorprimarylight" data-clipboard-text="#1B75BB") Copy code
						div(class="cell hu-colorsecondarylight")
							h5 Light-Orange Hero | #F1BC79
							button(class="button hu-button-colorsecondarylight" data-clipboard-text="#F1BC79") Copy code
				hr(class="divider--secondary" aria-hidden="true")
			
				
		
		
		
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='../bower_components/what-input/dist/what-input.js')
		script(src='../bower_components/foundation-sites/dist/js/foundation.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js")
		script(src='../js/app.js')
		script.
			var clipboard = new Clipboard('.hu-button-colorprimary');
			var clipboard = new Clipboard('.hu-button-colorsecondary');
			var clipboard = new Clipboard('.hu-button-colorprimarylight');
			var clipboard = new Clipboard('.hu-button-colorsecondarylight');
		script(src="https://unpkg.com/scrollreveal") 

			
			
