
header.top-bar.grid-x.grid-padding-x(role="navigation")
	a.cell.shrink(href="home.html")
		img.acklen-logo(src="img/AA-Logo-SlatePurple.svg")
	nav.cell.auto: ul.tabs
		li.tab__item
			a(href="getting-started.html") Getting Started
		li.tab__item
			a(href="theme.html") Foundations
		li.tab__item
			a(href="components.html") Components
		li.tab__item
			a(href="resources.html") Resources
		li.tab__item
			a.button(href="brand-assets.html") Brand Assets